body {
  margin: 0;
  padding: 0;
}

#map {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
}

.map-overlay {
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  width: 35%;
  top: 0;
  left: 0;
  background-color: #fff;
  border-radius: 3px;
  margin: 10px;
  font-size: 14px; /* Adjust the font size as needed */
}

.map-overlay-inner {
  padding: 30px;
  margin-bottom: 10px;
}

.map-overlay h2 {
  line-height: 24px;
  display: block;
  margin: 0 0 10px;
  font-size: 20px; /* Adjust the font size as needed */
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Montserrat Neue', sans-serif;
  font-size: 10px; /* Adjust the font size as needed */
}

.check-container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

#movable-explain {
  cursor: grab; /* Make the element cursor change to 'grab' on hover */
}

.custom-button {
  background-color: #007BFF; /* Button background color */
  color: #fff; /* Button text color */
  padding: 10px 20px; /* Button padding */
  border: none; /* Remove button border */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer; /* Change cursor on hover */
  font-size: 14px; /* Button text size */
}

.custom-button:hover {
  background-color: #0056b3; /* Change background color on hover */
}